<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

    <title>Mission to Mars</title>
  

</head>
  <body>
    <!-- As a heading -->
    <nav class="navbar navbar-dark bg-dark">
      <div class="container-fluid">
        <span class="navbar-brand mb-0 h1">Mission to Mars: Interplanetary Dashboard</span>
      </div>
    </nav>

    <div class="container-fluid">
      <div class="row align-items-start">
        <div class = "col-12">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Latest News:
                <small class="text-muted">"{{ mars_stuff.title }}"</small>
              </h5>
              <p class="card-text">{{mars_stuff.news}}</p>
              <!-- <a href="#" class="card-link">Card link</a>
              <a href="#" class="card-link">Another link</a> -->
            </div>
          </div>  
        </div>
      </div>
    
    <div class = "container-fluid">
      <div class="row align-items-start">
          <div class = "col-sm-6">
            <figure class="figure">
              <img src={{mars_stuff.image}} class="figure-img img-fluid rounded" alt="...">
              <figcaption class="figure-caption">Today's featured picture (from: spaceimage-mars.com)</figcaption>
            </figure>
          </div>
          <div class = "col-sm-6">
            <p>{{mars_stuff2}}</p>
          </div>
          
          <!-- <div class="row row-cols-1 row-cols-sm-2 g-0">
            <div class="col">
              <div class="card">
                <img src="https://raw.githubusercontent.com/coreydevinanderson/python-api-challenge/master/WeatherPy/Images/maxtemp_all.png" class="card-img-top" alt="Temperature">
                <div class = "card-body">
                    <a href="temperature.html" class="stretched-link"></a>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card">
                <img src="https://raw.githubusercontent.com/coreydevinanderson/python-api-challenge/master/WeatherPy/Images/humidity_all.png" class="card-img-top" alt="Humidity">
                <div class = "card-body">
                    <a href="humidity.html" class="stretched-link"></a>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card">
                <img src="https://raw.githubusercontent.com/coreydevinanderson/python-api-challenge/master/WeatherPy/Images/cloudcover_all.png" class="card-img-top" alt="Cloudiness">
                <div class = "card-body">
                  <a href="cloudiness.html" class="stretched-link"></a>
                </div>         
              </div>
            </div>
            <div class="col">
              <div class="card">
                <img src="https://raw.githubusercontent.com/coreydevinanderson/python-api-challenge/master/WeatherPy/Images/windspeed_all.png" class="card-img-top" alt="Wind speed">
                <div class = "card-body">
                  <a href="windspeed.html" class="stretched-link"></a>
                </div>  
              </div>
            </div>
          </div> -->
      </div>
    </div>
        


  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
  </body>
</html>